*~
public
.idea
.sass-cache
tests_output
chromedriver.log
node_modules/*
chromedriver.log
geckodriver.log
archetypes/*
data/*
resources/
themes*

.infrastructure/*

static/js/generated/*
static/js/vendor/*
