.interaction-disabled {
    cursor: no-drop !important;
    color: grey !important;
    background-color: #fff6f6;
    border-radius: 5px;
}

.once {
    background-color: #eee;
    padding-left: 1px;
    padding-right: 1px;
    margin: 3px;
    word-break: keep-all;
}

.last-week {
    background-color: blueviolet; 
    color: red;
}

.repeat {
    font-style: italic;
}

.relatedN {
    font-weight: 900;
    font-size: 1.4em;
}

.expandrelated {
    cursor: zoom-in !important;
}

section {
    margin-top: 2rem;
    border-top: red 1px solid;
    border-right: red 1px solid;
    border-radius: 20px;
}