/* background */

.bg-yt {
  background-color: #D9230F;
}

.bg-black{
    background-color: #030303;
}

/* I wasn't able to take this out from html, 
   I used <span>, as indicated in the webslides.

.bg-stripes {
  background-image:url('/images/smoke.jpeg');
}
*/



/* h1, h2 etc impagination */

h1 {
    font-weight: bold;
    text-align: center;
}
h1 span {
    width: 15.8rem;
}



/* typography colors */

.primary {
  color: #030303;
}

.secondary {
  color: #D9230F;
}

.third {
  color: #fff;
}

/* other

.hlight {
  fill: red;
  font-size: 1.2em;
}

.other {
  fill: green;
}
 */