/* background */

.bg-yt {
  background-color: #D9230F;
}

.bg-black{
    background-color: #030303;
}

.bg-standard {
  background-color: #f7f9fb;
}

/* I wasn't able to take this out from html, 
   I used <span>, as indicated in the webslides.

.bg-stripes {
  background-image:url('/images/smoke.jpeg');
}
*/



/* h1, h2 etc impagination */

h1 {
    font-weight: bold;
    text-align: center;
}
h1 span {
    width: 15.8rem;
}



/* typography colors */

[class*='bg-yt'] {
  color: #030303;
}

[class*='bg-standard'] {
  color: #030303;
} 



.primary {
  color: #030303;
}
.secondary {
  color: #D9230F;
}
.third {
  color: #fff;
}




/* other */

.hlight {
  fill: black;
  font-size: 1.2em;
  color: #fff;
}

.other {
  fill: green;
}
 