.sunnylink {
    margin: 3px; 
}

.searchtimes {
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
}

.totalvideos {
    font-family: monospace;
    display: inline-block;
    width: 100px;
}

.linkwrapper {
    padding-left: 60px;
}