.sunnylink {
    margin: 3px; 
}

.searchtimes {
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
}

.totalvideos {
    font-family: monospace;
}

.downloadCSV {

}

.linkwrapper {
}