.sunnylink {
    margin: 5px;
    padding-bottom: 10px;
    font-size: 1.1em;
}

.thumbnail {
    max-width: 40%;
    height: auto;
    display: block;
}

@media (max-width: 976px) {
    .thumbnail {
        display: none;
    }
}

.searchtimes {
    border-bottom: 1px solid #D9230F;
    display: inline-block;
    width: 10%;
}

.totalvideos {
    font-family: monospace;
    display: inline-block;
    width: 10%;
}

.query {
    font-family: monospace;
}

.linkwrapper {
    border-bottom: solid darkgray;
    width: 60%;
    display: inline-block;
}

#stats {
    font-family: monospace;
    background-color: lightgray;
    color: darkred;
    font-size: 1.3em;
    margin-top: 20px;
}

.linktoyoutube {
    padding-left: 10px;
}

.search_example {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 15px;
}

.search_fake_input {
    width: 100%;
    padding: 12px 24px;
    text-align: center;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 1.3em;
    line-height: 18px;
        
    color: #575756;
}

.urlo {
    width: 100%;
    border: 0;
    cursor: copy;
}

code.searchmid {
    padding: 3px;
    cursor: cell;
}

code > small {
    background-color: lightyellow;
    margin: 2px;
}