
.project-color {
    color: #ff0000;
}

.enlarged {
    font-size: 1.6em;
}

.test-steps {
    font-size: 1.6em;
}

ol {
    margin: 1.6em;
}

.imgtile {
    border: 10px;
    box-shadow: 1px 3px 3px 3px #888888;
    margin: 1%;
}