{{ define "main" -}}

<header class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>{{ .Title }}</h1>
            <time class="post-date d-none" datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </div>
    </div>
</header>

<div class="container">
    {{ .Content }}
    <span class="clearfix"></span>

    <h2 class="text-center">Compare how the same video get different reccomendations</h2>
    <div id="comparison"></div>
    <table class="table">
        <thead id="comparison-list-head"></thead>
        <tbody id="comparison-list"></tbody>
    </table>


    <h2 class="text-center">Try in our recent collections</h2>
    <ul id="recent"></ul>
</div>

<script type="text/javascript">

    $( document ).ready(function() {

        function fillRecentSlot(item)
        {
            let h = `
                    <li>
                        <p>
                            <a class="linked" onclick="newVideo('${item.videoId}');" href="/yttrex/compare/#${item.videoId}">${item.title}</a>
                            <br />
                            <small> <code>${item.timeago}</code> <code>Related: <b>${item.relatedN}</b></code> </small>
                        </p>
                   </li>
            `;
            $('#recent').append(h);
        }

        // #recent and #comparison
        // with 'last' we populate some snippet
        // with 'getVideoId' we get the videos, it is display the different comparison
        function initCompare()
        {

            var     comparison = $('#comparison'),
                    comparisonList = $('#comparison-list'),
                    comparisonListHead = $('#comparison-list-head');

            const cId = window.location.href.split('/#').pop();

            if (cId == 'compare') return;
            $.getJSON('https://youtube.tracking.exposed/api/v1/videoId/' + cId, function (results) {

                if (_.size(results) == 0) {
                    const nope = `
                        <h3 class="text-center">Nope, this video has never been watched by someone with ytTREX extension</h3>
                        <p class="text-center">
                            Check if is a valid video, here is the composed link:
                            <a href="https://youtube.com/watch?v=${cId}">https://youtube.com/watch?v=${cId}</a>
                        </p>
                    `;
                    $("#comparison").append(nope);
                    return;
                }

                const allrelated = _.flatten(_.map(results, 'related'));

                const hdr = `
                    <header class="p-3 text-center alert badge-secondary">
                        <em>Now comparing:</em><br />
                        <h3 class="mt-0">
                            ${results[0].title}
                        </h3>
                        <p class="m-0">
                           <b>${_.size(results)} times</b> has been seen this video, and YouTube gave <b>${_.size(allrelated)} related videos</b>
                            <br />
                           <a href="/yttrex/related/#${results[0].videoId}">See related</a> |
                           <a target=_blank href="https://www.youtube.com/watch?v=${results[0].videoId}">See video</a>
                        </p>
                    </header>
                `;

                comparison.append(hdr);

                const x = _.reverse(_.orderBy(_.groupBy(allrelated, 'videoId'), _.size));

                let lastH = null;
                _.each(x, function (relatedList) {

                    if (_.size(relatedList) != lastH) {
                        lastH = _.size(relatedList);
                        let printed = lastH > 1 ? lastH + " times" : "once";
                        let sightenings = `
                            <h4 class="seen text-center">
                                Videos present among the "related list" ${printed}:
                            </h4>
                        `;
                        $('#comparison').append(sightenings);
                    }

                    const positions = _.join(_.map(relatedList, 'index'), ', ');
                    const relatedVideo = _.first(relatedList);

                    let videoEntry = `
                        <tr id="${relatedVideo.videoId}" class="step">
                             <td class="video">
                                 <b>${relatedVideo.title}</b><br />
                                 <a class="linked" href="/yttrex/related/#${relatedVideo.videoId}">See related</a> |
                                 <a target=_blank href="https://www.youtube.com/watch?v=${relatedVideo.videoId}">See video</a>
                            </td>
                            <td class="author">
                                ${relatedVideo.source}
                            </td>
                            <td class="position">
                                 ${positions}
                            </td>

                       </tr>
                    `;
                    comparisonList.append(videoEntry);
                });
                const thead = `
                        <tr>
                            <th>Video</th>
                            <th>Channel</th>
                            <th>Position</th>
                        </tr>
                    `;
                comparisonListHead.append(thead);
            });

            $.getJSON('https://youtube.tracking.exposed/api/v1/last', function (recent) {
                _.each(recent.content, fillRecentSlot);

            });
        }
        initCompare();
    });

    function newVideo(videoID) {
        window.location.assign('#' + videoID);
        location.reload();
    }
</script>

{{- end }}
